.confirm-content {
    width: 1230px;
    margin: 0 auto;
    padding: 20px 15px;

}

.confirm__heading {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
}

.confirm__heading h2 {
    font-size: 32px;
}

.confirm-table {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;

}

.confirm-table__inner {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #e0dfde;
}

.confirm-table__row {
    line-height: 20px;
}

.confirm-table__header {
    padding:10px 60px;
    width: 23%;
    height: 70px;
    border-bottom: 1px solid #e0dfde;
    background-color: #baa899;
    color: #fff;
    text-align: left;
    font-size: 20px;
    font-weight: normal;
}

.confirm-table__text {
    padding: 10px 60px;
    width: 50%;
    height: 70px;
    border-bottom: 1px solid #e0dfde;
    font-size: 20px;
}

.confirm-table__row:last-of-type .confirm-table__header,
.confirm-table__row:last-of-type .confirm-table__text {
    height: 120px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    gap: 40px;
}

.confirm__button-submit {
    padding: 15px 45px;
    border: none;
    background-color: #82756a;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
}

.fixes-contents {
    border: none;
    background-color: #fff;
    color: #8b7969;
    border-bottom: 1px solid #8b7969;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    .confirm-content {
        width: 100%;
    }

    .confirm__heading {
        width: 100%;
    }

    .confirm-table__header {
        font-size: 16px;
        padding: 10px 20px;
        width: 25%;
    }

    .confirm-table__text {
        font-size: 16px;
    }

    .confirm__button-submit {
        font-size: 16px;
        padding: 10px 20px;
    }

    .fixes-contents {
        font-size: 16px;

    }
}@media screen and (max-width: 768px) {